<div class="row p-4 my-4 rounded bg-body-secondary h-50 justify-content-between">
    <div class="col-md-8">
        <h1 class="display-5 fst-italic">Exploring the World of Natural Plants</h1>
        <p class="lead my-3">We dive deep into the fascinating world of natural plants. You will find a wealth of information about various plant species, their unique characteristics, and their many uses.</p>
        <p class="lead mb-0"><a href="/blogs/1" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
    <div class="col-md-4  align-self-center">
        <img src="images/plant_hero.png" class="img-fluid z-3" width="320" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
</div>
