@page "/"
<PageTitle>Home - Blazored Blog</PageTitle>
<HeadContent>
    <meta name="description" content="Blazord Blog Home Page to Display All Blogs" />
</HeadContent>

@attribute [StreamRendering]

<div class="container">
    <div class="row">
         <Hero />
    </div>
    <div class="row">
        <div class="col-md-8">
         <BlogList />
        </div>
        <div class="col-12 col-md-4">
                <Sidebar  />
        </div>
    </div>
    </div>

